header{
	text-align:center;
}

a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: blue;
	text-decoration: underline;
}

a:active {
    color: blue;
}

p.naslov {
	font-size: 28px;
	text-align: center;
}

p.podnaslov {
	font-size: 18px;
	text-align: center;
}

#content {
  text-align: center;
  width: 55% ;
}

#nav {
  float: left;
  width: 15%;
  
}

#widget {
  float: right;
  width: 30%;
}

#innercontent {
  padding-left: 10px ;
  padding-right: 10px ;
}

#innernav {
  padding-left: 30px ;
  padding-right: 15px ;
  font-family: Arial;
  font-size: 16px;
  
}

#innerwidget {
  padding-left: 15px ;
  padding-right: 60px ;
}